<br>
<div class="row">

    <div class="col-sm-6">
        <fieldset class="form-group">
            <label for="InputFriendFilter-Sent">Search for Sent Friend Requests</label>
            <input type="text" class="form-control field-colour" id="InputFriendFilter-Sent" placeholder="Search for friend" ng-model="filter.username">
        </fieldset>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <!--<label for="InputOrderByFilter-Friend">Order By</label>
        <select class="form-control field-colour" ng-model="filter.OrderBy" id="InputOrderByFilter-Friend">
            <option value="">-- Select --</option>
            <option class="active" value="firstName">First name</option>
            <option value="lastName">Last name</option>
        </select>-->
    </div>

</div>

<hr>
<br>

<div class="row">
    <div  ng-repeat="friend in sent | filter : filter.username | orderBy : filter.OrderBy" ng-show="gotSent">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-4">
            <div ng-include='"app/components/friendsearch/tabs/friendItem.view.html"' onload="loaded = true"></div></div>
    </div>
    <div class="text-center" ng-hide="gotSent">
        <p><b>All of your sent friends requests have been answered.</b></p>
    </div>
</div>