div.footer{
    text-align: center;
}

img.brand{
    width: 100px;
    height: 100px;
}

img.menuItem{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

div.broad-header{
    margin-top: 135px;
}

div.slim-header{
    margin-top: 50px;
}

a.footer{
    margin: 20px;
}

p.navbar-btn{
    margin-top: 16px;
}

div.form-float-center{
    text-align: center;
}

div.profile-panel{
    padding-left: 10%;
    padding-right: 10%;
}

div.profile-picture{
    padding: 1%;
    text-align: center;
}

img.size-picture{
    width: 80%;
    height: 80%;
}

input[type=file] {
    margin: 0 auto;
    margin-top: 5px;
}

/* home.view.css */

.carousel-img{
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}