<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="text-center">Login</h1>
                <br>

                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                <form class="form" ng-submit="login()">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" ng-model="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" ng-model="pwd" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" ng-disabled="disabled">Login</button>
                        <button class="btn btn-default" ui-sref="signup">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

