<div class="container row row-centered" >
    <ul class="nav nav-pills navbar-centered">
        <li role="presentation" class="active"><a href="#friends">Friends</a></li>
        <li role="presentation"><a href="#requests">Friend Requests</a></li>
        <li role="presentation"><a href="#search">Search</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="friends">
   <h4 class="text-center">Friends</h4>
        <div class="container1">
            abcd
        </div>

    </div>

    <div class="tab-pane active" id="requests">
        <h4 class="text-center">Friend Requests</h4>
        <div class="container2">
            1234
        </div>

    </div>
    <div class="tab-pane active" id="search">
        <h4 class="text-center">Search Friends</h4>
        <div class="container2">
            1234
        </div>

    </div>

</div>

</div>